/**
 * Flex box
 */
.row,
form.banner-builder-form .tabs,
form.banner-builder-form .columns,
.banner-builder .toolbar-wrp .field {
  display               : -webkit-box;
  display               : -webkit-flex;
  display               : -ms-flexbox;
  display               : flex;
  -webkit-box-orient    : horizontal;
  -webkit-box-direction : normal;
  -webkit-flex-flow     : row wrap;
  -ms-flex-flow         : row wrap;
  flex-flow             : row wrap;
  list-style            : none;
}

.column,
form.banner-builder-form .tabs .tab-title,
.banner-builder .toolbar-wrp .field-label,
.banner-builder .toolbar-wrp .field-select {
  -webkit-box-flex : 1;
  -webkit-flex     : 1 1 0;
  -ms-flex         : 1 1 0;
  flex             : 1 1 0;
  min-height       : 0;
  min-width        : 0;
  width            : auto;
}

.column.shrink,
.banner-builder .toolbar-wrp .field-label,
.banner-builder .toolbar-wrp .field-select {
  -webkit-box-flex : 0;
  -webkit-flex     : 0 0 auto;
  -ms-flex         : 0 0 auto;
  flex             : 0 0 auto;
}

/**
 * Banner builder
 */
.banner-builder {
  border   : 1px solid #ccc;
  overflow : hidden;
}

.banner-builder .toolbar-wrp {
  padding    : 6px 10px;
  background : #ddd;
  min-height : 30px;
}

.banner-builder .toolbar-wrp .toolbar-spacer {
  display        : inline-block;
  margin         : 0 4px;
  height         : 30px;
  width          : 1px;
  line-height    : 0;
  background     : black;
  vertical-align : top;
}

.banner-builder .toolbar-wrp .middle {
  text-align : center;
}

.banner-builder .toolbar-wrp .right {
  text-align : right;
}

.banner-builder .toolbar-wrp .toolbar-button {
  display        : inline-block;
  margin         : 0 3px;
  padding        : 4px;
  font-size      : 19px;
  text-align     : center;
  border         : 1px solid black;
  line-height    : 1;
  cursor         : pointer;
  vertical-align : top;
}

.banner-builder .toolbar-wrp .toolbar-button:hover {
  opacity : 0.7;
}

.banner-builder .toolbar-wrp .field {
  display        : inline-flex !important;
  margin         : 0 3px;
  vertical-align : top;
}

.banner-builder .toolbar-wrp .field-label,
.banner-builder .toolbar-wrp .field-select {
  text-align : left !important;
  border     : 0 none !important;
}

.banner-builder .toolbar-wrp .field-label {
  padding-right : 3px;
  line-height   : 28px;
}

.banner-builder .toolbar-wrp .field-label:after {
  display : inline-block;
  content : ':';
}

.banner-builder .toolbar-wrp .field-select {
  height : 30px;
}

.banner-builder .toolbar-wrp button:active,
.banner-builder .toolbar-wrp button:focus,
.banner-builder .toolbar-wrp button:hover {
  cursor  : pointer;
  opacity : 0.7;
}

.banner-builder .toolbar-wrp .device-changer {
  display        : inline-block;
  margin         : 0 4px;
  vertical-align : top;
}

.banner-builder .toolbar-wrp .device-changer .toolbar-button {
  margin         : 0;
  padding        : 5px 12px;
  font-size      : 18px;
  text-transform : uppercase;
}

.banner-builder .toolbar-wrp .device-changer .toolbar-button:not(:last-child) {
  border-right : 0 none;
}

.banner-builder .toolbar-wrp .device-changer .toolbar-button.is-active {
  background : #ccc;
}

.banner-builder .canvas-wrp {
  position   : relative;
  width      : 100%;
  min-height : 100px;
  text-align : center;
}

.banner-builder .canvas-wrp .canvas-item {
  display      : none;
  position     : absolute;
  top          : 0;
  left         : 50%;
  width        : 100%;
  line-height  : 0;
  background   : white;
  transform    : translateX(-50%);
  border-left  : 1px solid blue;
  border-right : 1px solid blue;
}

.banner-builder .canvas-wrp .canvas-item.is-active {
  display : block;
}

.banner-builder .canvas-wrp .canvas-item .canvas-container {
  margin : 0 auto;
}

.banner-builder .canvas-wrp canvas {
  outline : 1px solid #ddd;
}

/**
 * Settings form
 */
form.banner-builder-form .title {
  font-weight : bold;
}

form.banner-builder-form .field {
  margin-bottom : 6px;
}

form.banner-builder-form input,
form.banner-builder-form select {
  width      : 100%;
  box-sizing : border-box;
}

/* Tabs */
form.banner-builder-form .tabs,
form.banner-builder-form .columns {
  margin : 0;
}

form.banner-builder-form .tabs .tab-title,
form.banner-builder-form .columns .column {
  margin     : 0;
  padding    : 2px 6px;
  width      : auto;
  text-align : center;
  border     : 1px solid #ccc;
  cursor     : pointer;
}

form.banner-builder-form .form-header.tabs .tab-title {
  padding : 6px 10px;
}

form.banner-builder-form .tabs .tab-title:hover,
form.banner-builder-form .tabs .tab-title:focus {
  background : #ddd;
}

form.banner-builder-form .tabs .tab-title.is-active {
  background : #ccc;
  cursor     : default;
}

form.banner-builder-form .tabs-content {
  position : relative;
  padding  : 10px 5px;
  border   : 1px solid #ccc;
}

form.banner-builder-form .tabs-content .tab-panel {
  display    : none;
  background : white;
}

form.banner-builder-form .tabs-content .tab-panel.is-active {
  display : block;
}

/* Columns */
form.banner-builder-form .columns .column {
  padding-top    : 0;
  padding-bottom : 0;
  text-align     : left;
  border         : 0 none;
  cursor         : default;
}

/* Full screen */
.banner-builder.full-screen {
  position   : fixed;
  top        : 0;
  left       : 0;
  z-index    : 9999999;
  height     : 100%;
  width      : 100%;
  background : white;
}
