/**
 * Banner builder svg
 */
.banner-builder-svg > div {
  display : none;
}

.banner-builder-svg > div:last-child {
  display : block;
}

.banner-builder-svg svg {
  height : 100%;
  width  : 100%;
}
