{#
/**
 * @file banner.html.twig
 * Default theme implementation to present Content widget data.
 *
 * This template is used when viewing Content widget pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 * - view_mode: View mode; for example, "teaser" or "full".
 *
 * @see template_preprocess_banner()
 *
 * @ingroup themeable
 */
#}
{% set classes = ['clear-both'] %}
<div{{ attributes.addClass(classes) }}>
  {% for item in items %}
    <div>{{ item }}</div>
  {% endfor %}
</div>
